# Pandas

In [1]:
import pandas as pd
import pandera as pa

In [5]:
# list we can use for creating series
# series also shows the index of the elements
s1 : pd.Series = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# list we can use for creating series
s1 : pd.Series = pd.Series({1,2,3,4,5}) # set
s1

TypeError: 'set' type is unordered

In [7]:
# list we can use for creating series
s1 : pd.Series = pd.Series((1,2,3,4,5))
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Pandas core componenets
* Series types (1 row or column)
* DataFrame types (np. of series combined)

In [8]:
# Dicationary we canuse for creating series

s1 : pd.Series = pd.Series({'a':1,
                            'b':2,
                            'c':3,
                            'd':4,
                            'e':5})
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
values : list[int] = [1,2,3,4,5]
index : list[str] = ['a','b','c','d','e']
s1: pd.Series = pd.Series(values, index=index)
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
values : list[int] = [1,2,3,4,5]
index : list[str] = ['a','b','c','d','e']
s1: pd.Series = pd.Series(values,index)
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
# multi index series
import numpy as np
values : list[int] = [1,2,3,4,5]
index : list[list[str]] = [['a1','a1','a1','b1','b1'],
                           ['a','b','c','d','e']] # groupby
s1: pd.Series = pd.Series(values,index, name = "students_data",dtype=np.int64)
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
Name: students_data, dtype: int64

In [ ]:
from nptyping import DataFrame, Structure as S

# DataFrame
* Multiple series

In [3]:
s1 : pd.Series = pd.Series((1,2,3,4,5), name = "student id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name = "score")
s3 : pd.Series = pd.Series(["hamza","muhammad","ali","ahmad","abdullah"], name = "student name")
# key
# value : iterable
# length should be the length of other series
df1 : pd.DataFrame = pd.DataFrame({"student id":s1, "score":s2, "student name ":s3})
df1

   student id  score student name
0           1     10         hamza
1           2     20      muhammad
2           3     30           ali
3           4     40         ahmad
4           5     50      abdullah

In [6]:
s1 : pd.Series = pd.Series((1,2,3,4,5), name = "student id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name = "score")
s3 : pd.Series = pd.Series(["hamza","muhammad","ali","ahmad","abdullah"], name = "student name")
df1 : pd.DataFrame = pd.DataFrame(s1, s2, s3)
df1

student name hamza muhammad  ali ahmad abdullah
score
10             NaN      NaN  NaN   NaN      NaN
20             NaN      NaN  NaN   NaN      NaN
30             NaN      NaN  NaN   NaN      NaN
40             NaN      NaN  NaN   NaN      NaN
50             NaN      NaN  NaN   NaN      NaN

In [9]:
s1 : pd.Series = pd.Series((1,2,3,4,5), name = "student id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name = "score")
s3 : pd.Series = pd.Series(["hamza","muhammad","ali","ahmad","abdullah"], name = "student name")
df1 : pd.DataFrame = pd.concat([s1, s2, s3], axis = 1)
df1

   student id  score student name
0           1     10        hamza
1           2     20     muhammad
2           3     30          ali
3           4     40        ahmad
4           5     50     abdullah

In [12]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=['A','B','C'], index=['x','y','z'])
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [13]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [14]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [21]:
import numpy as np
from nptyping import NDArray,Shape
from turtle import Shape
from typing import Any

data : NDArray[Shape["10,10"], Any] = np.arange(10*10).reshape(10,10)
data

TypeError: type 'Shape' is not subscriptable

In [11]:
import numpy as np
from nptyping import NDArray, Shape
from typing import Any

data : NDArray[Shape["10,10"], Any] = np.arange(10*10).reshape(10,10)
df : pd.DataFrame = pd.DataFrame(data, columns = list("ABCDEFGHIJ"))
df

    A   B   C   D   E   F   G   H   I   J
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [38]:
dfl : list[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
dfl

[  Operator            Name Example    Try it
 0        +        Addition   x + y  Try it »
 1        -     Subtraction   x - y  Try it »
 2        *  Multiplication   x * y  Try it »
 3        /        Division   x / y  Try it »
 4        %         Modulus   x % y  Try it »
 5       **  Exponentiation  x ** y  Try it »
 6       //  Floor division  x // y  Try it »,
    Operator        Example         Same As    Try it
 0         =          x = 5           x = 5  Try it »
 1        +=         x += 3       x = x + 3  Try it »
 2        -=         x -= 3       x = x - 3  Try it »
 3        *=         x *= 3       x = x * 3  Try it »
 4        /=         x /= 3       x = x / 3  Try it »
 5        %=         x %= 3       x = x % 3  Try it »
 6       //=        x //= 3      x = x // 3  Try it »
 7       **=        x **= 3      x = x ** 3  Try it »
 8        &=         x &= 3       x = x & 3  Try it »
 9        |=         x |= 3       x = x | 3  Try it »
 10       ^=         x ^= 3       x = x ^ 3  Try it »
 11      >>=        x >>= 3      x = x >> 3  Try it »
 12      <<=        x <<= 3      x = x << 3  Try it »
 13       :=  print(x := 3)  x = 3 print(x)  Try it »,
   Operator                      Name Example    Try it
 0       ==                     Equal  x == y  Try it »
 1       !=                 Not equal  x != y  Try it »
 2        >              Greater than   x > y  Try it »
 3        <                 Less than   x < y  Try it »
 4       >=  Greater than or equal to  x >= y  Try it »
 5       <=     Less than or equal to  x <= y  Try it »,
   Operator                                        Description  \
 0      and           Returns True if both statements are true
 1       or      Returns True if one of the statements is true
 2      not  Reverse the result, returns False if the resul...

                  Example    Try it
 0       x < 5 and x < 10  Try it »
 1         x < 5 or x < 4  Try it »
 2  not(x < 5 and x < 10)  Try it »  ,
   Operator                                        Description     Example  \
 0       is  Returns True if both variables are the same ob...      x is y
 1   is not  Returns True if both variables are not the sam...  x is not y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                                        Description     Example  \
 0       in  Returns True if a sequence with the specified ...      x in y
 1   not in  Returns True if a sequence with the specified ...  x not in y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                  Name  \
 0        &                   AND
 1        |                    OR
 2        ^                   XOR
 3        ~                   NOT
 4       <<  Zero fill left shift
 5       >>    Signed right shift

                                          Description Example    Try it
 0              Sets each bit to 1 if both bits are 1   x & y  Try it »
 1         Sets each bit to 1 if one of two bits is 1   x | y  Try it »
 2    Sets each bit to 1 if only one of two bits is 1   x ^ y  Try it »
 3                               Inverts all the bits      ~x  Try it »
 4  Shift left by pushing zeros in from the right ...  x << 2  Try it »
 5  Shift right by pushing copies of the leftmost ...  x >> 2  Try it »  ,
                                Operator  \
 0                                    ()
 1                                    **
 2                              +x -x ~x
 3                              * / // %
 4                                   + -
 5                                 << >>
 6                                     &
 7                                     ^
 8                                     |
 9   == != > >= < <= is is not in not in
 10                                  not
 11                                  and
 12                                   or

                                           Description    Try it
 0                                         Parentheses  Try it »
 1                                      Exponentiation  Try it »
 2            Unary plus, unary minus, and bitwise NOT  Try it »
 3   Multiplication, division, floor division, and ...  Try it »
 4                            Addition and subtraction  Try it »
 5                       Bitwise left and right shifts  Try it »
 6                                         Bitwise AND  Try it »
 7                                         Bitwise XOR  Try it »
 8                                          Bitwise OR  Try it »
 9     Comparisons, identity, and membership operators  Try it »
 10                                        Logical NOT  Try it »
 11                                                AND  Try it »
 12                                                 OR  Try it »  ]

In [39]:
dfl[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [40]:
df : pd.DataFrame = pd.read_json("https://www.w3schools.com/python/pandas/data.js")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [41]:
import pandas as pd
import pandera as pa

# data to validate
df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

# define schema
schema = pa.DataFrameSchema({
    "column1": pa.Column(int, checks=pa.Check.le(10)),
    "column2": pa.Column(float, checks=pa.Check.lt(-1.2)),
    "column3": pa.Column(str, checks=[
        pa.Check.str_startswith("value_"),
        # define custom checks as functions that take a series as input and
        # outputs a boolean or boolean Series
        pa.Check(lambda s: s.str.split("_", expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

In [46]:
dir(pa.check)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__type_params__']

# Slicing and indexing
* series_variable[index]
* DataFrame
    * loc
    * iloc
    * at
    * iat

In [49]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("applying the slicing")
display(s1[0])
display(s1[1:4])

0    1
1    2
2    3
3    4
4    5
dtype: int64

applying the slicing

1

1    2
2    3
3    4
dtype: int64

In [50]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("applying the slicing")
display(s1.iloc[1:4]) # index location (numbers) same as numpy slicing

0    1
1    2
2    3
3    4
4    5
dtype: int64

applying the slicing

1    2
2    3
3    4
dtype: int64

In [53]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index =['a','b','c','d','e'])
display(s1)
print("applying the slicing")
display(s1.loc["a":"d"]) #  location (lables) end included in loc

a    1
b    2
c    3
d    4
e    5
dtype: int64

applying the slicing

a    1
b    2
c    3
d    4
dtype: int64

In [57]:
s1 : pd.Series = pd.Series([1,2,3,4,5],index =['a','b','c','d','e'])
display(s1)
print("applying the slicing")
display(s1.iat[1]) # index location (number) extract one cell value and you can update it

a    1
b    2
c    3
d    4
e    5
dtype: int64

applying the slicing

2

In [56]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index =['a','b','c','d','e'])
display(s1)
print("applying the slicing")
display(s1.at["a"]) #  location (number) extract one cell value and you can update it

a    1
b    2
c    3
d    4
e    5
dtype: int64

applying the slicing

1

In [15]:
s1 : pd.Series = pd.Series((1,2,3,4), index = ['x','y','z','a'])
s1[1:3:2]

y    2
dtype: int64

In [13]:
data1 : NDArray[Shape["5,5"], Any] = np.arange(5*5).reshape(5,5)
s2 : pd.DataFrame = pd.DataFrame(data1, columns = list("ABCDE"))
s2

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [21]:
s1 : pd.Series = pd.Series((1,2,3,4,5), name = "student ID")
s2 : pd.Series = pd.Series((10,20,30,40,50), name = "score")
s3 : pd.Series = pd.Series(("talha","muhammad","ahmad","ali","umar"), name = "student name")
data : pd.DataFrame = pd.concat([s1,s2,s3], axis = 1)
data

   student ID  score student name
0           1     10        talha
1           2     20     muhammad
2           3     30        ahmad
3           4     40          ali
4           5     50         umar

In [2]:
import pandas as pd
from typing import Any
import numpy as np
from nptyping import shape

In [5]:
s1 : pd.Series = pd.Series((1,2,3,4), name = "student id")
s2 : pd.Series = pd.Series((10,20,30,40), name = "student score")
s3 : pd.Series = pd.Series(("muhammad","talha","umar","awais"), name = "student names")
data : pd.DataFrame = pd.concat([s1,s2,s3], axis = 1)
data

   student id  student score student names
0           1             10      muhammad
1           2             20         talha
2           3             30          umar
3           4             40         awais

In [8]:
s1 : pd.Series = pd.Series((1,2,3,4), index = ['a','b','c','d'])
display(s1.iloc[1:3:2])

b    2
dtype: int64

In [9]:
s1 : pd.Series = pd.Series((1,2,3,4), index = ['a','b','c','d'])
display(s1.loc['a':'d'])

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
s1 : pd.Series = pd.Series((1,2,3,4), index = ['a','b','c','d'])
display(s1.iat[1])

2

In [11]:
s1 : pd.Series = pd.Series((1,2,3,4), index = ['a','b','c','d'])
display(s1.at['b'])

2

In [18]:
from typing import Tuple
data : Tuple[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_sets.asp")

ValueError: No tables found