In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dcs\anaconda3\envs\python13\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dcs\anaconda3\envs\python13\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.0.1-cp312-cp312-win_amd64.whl (16.3 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [4]:
a : int = 3
b : int = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [5]:
a : int = 3
b : int = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(b % a)

7
-1
12
0.75
1

In [9]:
data = "a"  * 3
print(data)

aaa

In [6]:
print(2 ** 2)
print(2 ** 3)
#power operator

4
8

In [8]:
print( 14 / 3)
print( 14 // 3)
# floor division(//) always removes decimals after the divisions

4.666666666666667
4

Assignment operator

In [ ]:
# to assign values we use assignment operators

In [9]:
# +=
a : int = 7
print(a)
a += 2
print(a)
# += uses for adding the values

7
9

In [10]:
# -=
a : int = 7
print(a)
a -= 2
print(a)

7
5

In [11]:
# *=
a : int = 7
print(a)
a *= 2
print(a)

7
14

In [12]:
# /=
a : int = 7
print(a)
a /= 2
print(a)

7
3.5

In [18]:
# %=  it will take modulus and assign the value to  left side
a : int = 7
print(a%a)
a %= 2
print(a)

0
1

Comparrison Operators

In [19]:
# == operator
a : int = 4
b : int = 5 
print( a == b)
# in java we use === but in python there is not an concept like it 
# == does the same work as===

False

In [21]:
#!= not equal to operator
a : int = 3
b : int = 3
print(a != b)

False

In [22]:
# less than operator
a : int = 3
b : int = 3
print(a < b)

False

In [23]:
# greater than operator
a : int = 3
b : int = 3
print(a > b)

False

In [24]:
# greater than equal to operator
a : int = 3
b : int = 3
print(a >= b)

True

In [27]:
# less than equal to operator
a : int = 3
b : int = 2
print(a <= b)

False

ASCII CODE

A = 65
B = 66
C = 67
Z = 90

a = 97
b = 98
c = 99
z = 122

0 = 48
1 = 49
9 = 57

In [28]:
a : str = "A"
b : str = "a"
print(a < b)
# this occured due to ASCII code because of their values

True

In [32]:
print(ord('a'))
ord("A")
#ord uses for checking the ASCII value of chracters

97

65

In [33]:
chr(65)
#chr uses for the checking the chracter of numbers in ASCII

'A'

LOGICAL OPERATORS ( IMPORTANt)

and operator                                                      
or operator                                                        
not operator

In [34]:
# and means every should be true
# or means optional 
# not will reverse the condition

In [35]:
name : str = "muhammad"
print(not name=="muhammad")

False

In [37]:
name : str = "muhammad"
print(not name=="muhammad")

False

In [46]:
a : str = "abc"
b : str = "xyz"
print(id(a))
print(id(b))

140725628048536
2961368299824

In [47]:
# is checks physical address in the backend and checks if its equal to other
print(a is b)
print(b is b)
a is not b

False
True

True

In [2]:
# IN operator is an  important operator
# in checks if left chr or anything is present in the specific thing
names : list[str] = 'ali', 'mian', 'hamid', 'talha'
uinput :  str = input("enter your name")
uinput in names

False

In [3]:
#  not in checks if something is not present
names : list[str] = 'ali', 'mian', 'hamid', 'talha'
uinput :  str = input("enter your name")
uinput not in names

True

PEMDAS   (pynthesis,exponent,multiply,division,add,sub)   also called as BODMAS
multiply , division which comes first will be solved first
add ,  sub  which comes first will be solved first

In [4]:
print(8/2*3)

12.0

In [5]:
age : int = 14_000_000_000
print(age)

14000000000

In [8]:
data = ("muhammad", 4  ,5)
print(data[0],data[1],data[2])
# to save time and this process we just use * befor var name and it will show the same
print(*data)
# this is called  unzipping

muhammad 4 5
muhammad 4 5

(Walyrus operator)
                 helps us to make variable within variable

In [10]:
a = 10
if (a < (b := a + 5) ):
  print(b)
else:
  ("else is working")
  # := is walyrus operator

15

Assignment or practice

In [ ]:
print(3+5)
print(2*4)
print(16 // 2)
print(17%9)
number : int = 45

fav_number : int = 45
print("my fav number is :", fav_number)

print(number>=fav_number)
print(number<=fav_number)
print(number==fav_number)
print(number!=fav_number)

In [12]:
mylist : list[str] =  "ali", "mian" , "hashir" , "abdullah"
the_input  = input("what is your name")
the_input in mylist

False

In [16]:
chr(88)
print(ord('g'))

103

In [18]:
ord('g')

103

In [21]:
print(99 / 12)
print(99 // 12)

8.25
8

In [26]:
name : str =  "muhammad"
print("mian sb" and "muhammad")

muhammad

In [29]:
area : int = 56
inner  : int = 78
if(area == 56 and  inner < 100):
    print("you are right")
else:
    print("the value is  wrong")

you are right

In [32]:
area : int = 56
inner  : int = 78
if(area == 6 or  inner < 00):
    print("you are right")
else:
    print("the value is  wrong")

the value is  wrong

In [43]:
user_value : int = int(input("what is the number or value"))
if (user_value <= 100 or  user_value == 101):
    print("the password is correct",  user_value)
else:
    print("the password you entered is wrong")

the password you entered is wrong