String data types in python

In [ ]:
message : str = 'piaic student /n father\'s name'
#this is the  error in 'str'
# so we need to convert literals into "str"
# If we putt \ "slash" before special chracter it will take it as  special chracter

In [8]:
print(7 +\
       3 +\
        2)
# Back slash \ uses for continuation

12

In [7]:
#to  use "+" the both sides should have same data types
#so we will change the one data type to same as other
#like
"a" +  str(7)

'a7'

In [6]:
name : str = "muhammad bin murtza"
time : str = "one twelve"
print(name, "\nMian sb" + time)

muhammad bin murtza
Mian sbone twelve

In [2]:
# + will combine the chracters of strings
"a" + "b" + "c"

'abc'

In [1]:
name =  "muhammad"
print(name)
print(type(name))

muhammad
<class 'str'>

multiline string

In [9]:
#  we  use """""" for  using new line  without \n
print(""""mian  sb
the great
""")

"mian  sb
the great

F STRING (MOST IMPORTANT)

In [10]:
name : str = "muhammad"
age : int = 18
education : str = "intermediate"
caste : str = "Arain"
overallData : str = f"""
Piaic student data
Student name = {name}
Stident age = {age}
Student education = {education}
Student caste = {caste}
"""
print(overallData)

# f string helped us to not change the data type of age
# f string  can also run any numeric like 1 + 2 + 3  in it
# there's  also jinja f string in which we use two cotations {{}}

Piaic student data
Student name = muhammad
Stident age = 18
Student education = intermediate
Student caste = Arain

In [23]:
first_name : str = "mian"
last_name : str = "muhamamd"
message : str  = f"""
mm = {first_name}
nm = {last_name}
"""
details : str = f"h, {message.title()}"
print(details)

h,
Mm = Mian
Nm = Muhamamd

In [2]:
name: str = "  muhammad"
age : int = 18
education : str = " intermediate"
program : str = " machine learning"
city : str = " faisalabad"
id : int =  5000100
overall_data : str = f"""
Name of student: {name.lstrip().capitalize()}
Age of student:{age}
education of student:{education.lstrip().capitalize()}
program chosen:{program.lstrip().capitalize()}
city area:{city.lstrip().capitalize()}
id number:{id}
"""
print(overall_data)
#done by me

Name of student: Muhammad
Age of student:18
education of student:Intermediate
program chosen:Machine learning
city area:Faisalabad
id number:5000100

In [12]:
name : str = "muhammad"
age : int = 18
education : str = "intermediate"
caste : str = "Arain"
overallData : str = f"""
Piaic student data
Student name = %s
Stident age = %d
Student education = %s
Student caste = %s
""" %(name,age,education,caste)
print(overallData)
# this is the old  way we used in C language

Piaic student data
Student name = muhammad
Stident age = 18
Student education = intermediate
Student caste = Arain

In [ ]:
# attributes in string
#will  do in night

.FORMAT && INDEX

In [17]:
a = 3
b = 4
# { } place holder
#              0(index)         1(index)   0,1  
"pak value a = {} and value b = {}".format(a,b)
# here the .format is specifying the value with the help of  index

'pak value a = 3 and value b = 4'

In [3]:
name : str = "muhammad"
age : int = 18 
education : str = "intermediate"
caste : str = "Arain"
overallData : str = """
Piaic student data
Student name = {3}
Student age = {0}
Student education ={2} 
Student caste = {1}
""".format(age, caste,  education, name)
print(overallData)
# in .format we can just putt the index number according to right order to get the right results
#Piaic student data
#Student name = {3}
#Student age = {0}
#Student education ={2} 
#Student caste = {1}

Piaic student data
Student name = muhammad
Student age = 18
Student education =intermediate
Student caste = Arain

In [4]:
name: str = "  muhammad"
age : int = 18
education : str = " intermediate"
program : str = " machine learning"
city : str = " faisalabad"
id : int =  5000100
overall_data : str = """
Name of student:{}
Age of student:{}
education of student:{}
program chosen:{}
city area:{}
id number:{}
""".format(name,age,education,program,city,id)
print(overall_data)
#using .format

Name of student:  muhammad
Age of student:18
education of student: intermediate
program chosen: machine learning
city area: faisalabad
id number:5000100

In [11]:
name : str = "muhammad"
age : any = "18 years"
education : str = "intermediate"
caste : str = "Arain"
overallData : str = """
Piaic student data
Student name = {a}
Student age = {b}
Student education ={c} 
Student caste = {d}
""".format(a = name, b = age,  c  = education, d = caste)
print(overallData) 
#we can also putt keywords instead of indexing in the .format where we are retrieving the values of variables
#Student name = {a}
#Student age = {b}
#Student education ={c} 
#Student caste = {d}

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

The recommended ways are .format and f string

Explore string methods and attributes

In [9]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [18]:
name : str = "      muhammad mian     "
display(name.lstrip())
# lstrip helps to remove spaces from start(means from left side) of variable's value

muhammad mian

In [19]:
name : str = "      muhammad mian     "
display(name.rstrip())
# rstrip removes spaces from the right side

      muhammad mian

In [20]:
name : str = "      muhammad mian     "
display(name.strip())
#strip removes from the both  sides of variable's value

muhammad mian

In [21]:
name : str = "muhammad mian"
display(name.title())
# title make first letter of every word capital

'Muhammad Mian'

In [22]:
name : str = "muhammad mian"
display(name.upper())
display(name.lower())

'MUHAMMAD MIAN'

'muhammad mian'

In [24]:
print("mian :\t\t ali ali")
# \t adds tabs or you can say spaces

mian :		 ali ali

In [25]:
print("mian :\n ali ali")
# \n changes the line

mian :
 ali ali

In [26]:
print("mian :\b ali ali")
# \b works as backspace and removes the chracter before it

mian  ali ali

In [1]:
url_remove : str  = "https://techreport.com/"
new_url : str = f"{url_remove.removeprefix("https://")}".removesuffix("/")
print(new_url)
# removeprefix uses to remove some part from start and removesuffix uses to remove some part from the last

techreport.com